.content-quote {
  padding: 0 0.5em 0.5em;
  font-weight: bold;
  font-size: 28px; }
  .content-quote p:last-child {
    margin-bottom: 0; }
  .content-quote.-left {
    max-width: 300px;
    float: left;
    padding: 0 0.5em 0.5em 0; }
  .content-quote.-right {
    max-width: 300px;
    float: right;
    padding: 0 0 0.5em 0.5em; }
  .content-quote > .citation {
    text-align: right;
    font-size: 14px;
    font-style: italic; }